:root {
  --stately-radius: 0.65rem;

  --stately-background: oklch(1 0 0);
  --stately-foreground: oklch(0.141 0.005 285.823);

  --stately-card: oklch(1 0 0);
  --stately-card-foreground: oklch(0.141 0.005 285.823);

  --stately-popover: oklch(1 0 0);
  --stately-popover-foreground: oklch(0.141 0.005 285.823);

  --stately-primary: oklch(0.795 0.184 86.047);
  --stately-primary-foreground: oklch(0.421 0.095 57.708);

  --stately-secondary: oklch(0.967 0.001 286.375);
  --stately-secondary-foreground: oklch(0.21 0.006 285.885);

  --stately-muted: oklch(0.967 0.001 286.375);
  --stately-muted-foreground: oklch(0.552 0.016 285.938);

  --stately-accent: oklch(0.931 0 0);
  /* Old */
  /* --stately-accent: oklch(0.967 0.001 286.375); */
  --stately-accent-foreground: oklch(0.21 0.006 285.885);

  --stately-destructive: oklch(0.577 0.245 27.325);
  --stately-destructive-foreground: oklch(1 0 0);

  --stately-border: oklch(0.92 0.004 286.32);
  --stately-input: oklch(0.92 0.004 286.32);
  --stately-ring: oklch(0.795 0.184 86.047);

  --stately-chart-1: oklch(0.646 0.222 41.116);
  --stately-chart-2: oklch(0.6 0.118 184.704);
  --stately-chart-3: oklch(0.398 0.07 227.392);
  --stately-chart-4: oklch(0.828 0.189 84.429);
  --stately-chart-5: oklch(0.769 0.188 70.08);

  --stately-sidebar: oklch(0.985 0 0);
  --stately-sidebar-foreground: oklch(0.141 0.005 285.823);
  --stately-sidebar-primary: oklch(0.795 0.184 86.047);
  --stately-sidebar-primary-foreground: oklch(0.421 0.095 57.708);
  --stately-sidebar-accent: oklch(0.967 0.001 286.375);
  --stately-sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --stately-sidebar-border: oklch(0.92 0.004 286.32);
  --stately-sidebar-ring: oklch(0.795 0.184 86.047);
}

.dark {
  --stately-background: oklch(0.141 0.005 285.823);
  --stately-foreground: oklch(0.985 0 0);

  --stately-card: oklch(0.21 0.006 285.885);
  --stately-card-foreground: oklch(0.985 0 0);

  --stately-popover: oklch(0.21 0.006 285.885);
  --stately-popover-foreground: oklch(0.985 0 0);

  --stately-primary: oklch(0.795 0.184 86.047);
  --stately-primary-foreground: oklch(0.421 0.095 57.708);

  --stately-secondary: oklch(0.274 0.006 286.033);
  --stately-secondary-foreground: oklch(0.985 0 0);

  --stately-muted: oklch(0.274 0.006 286.033);
  --stately-muted-foreground: oklch(0.705 0.015 286.067);

  --stately-accent: oklch(0.3826 0.1732 263.19);
  /* Old */
  /* --stately-accent: oklch(0.274 0.006 286.033); */
  --stately-accent-foreground: oklch(0.985 0 0);

  --stately-destructive: oklch(0.704 0.191 22.216);
  --stately-destructive-foreground: oklch(1 0 0);

  --stately-border: oklch(1 0 0 / 10%);
  --stately-input: oklch(1 0 0 / 15%);
  --stately-ring: oklch(0.554 0.135 66.442);

  --stately-chart-1: oklch(0.488 0.243 264.376);
  --stately-chart-2: oklch(0.696 0.17 162.48);
  --stately-chart-3: oklch(0.769 0.188 70.08);
  --stately-chart-4: oklch(0.627 0.265 303.9);
  --stately-chart-5: oklch(0.645 0.246 16.439);

  --stately-sidebar: oklch(0.21 0.006 285.885);
  --stately-sidebar-foreground: oklch(0.985 0 0);
  --stately-sidebar-primary: oklch(0.795 0.184 86.047);
  --stately-sidebar-primary-foreground: oklch(0.421 0.095 57.708);
  --stately-sidebar-accent: oklch(0.274 0.006 286.033);
  --stately-sidebar-accent-foreground: oklch(0.985 0 0);
  --stately-sidebar-border: oklch(1 0 0 / 10%);
  --stately-sidebar-ring: oklch(0.554 0.135 66.442);
}
